@charset "UTF-8";
body{
    background-color: #b45b08;
    color: #2c0055;
}
h1{
    text-indent: 10px;
}
p{
    text-align: justify ;
    color: #000;
    text-indent: 5px;
}
#primeiro{
    text-indent: 30px;
}
#principal{
    text-align: center;
    text-indent: 0px
}
.iniciativo{
    font: italic bolder 16px Arial, Helvetica, sans-serif ;
}
.importante{
  background-color: #fff;
  color: #000;
}
